.row__bigProduct {
  margin: 43px 0 70px;
}
.product-slider {
  position: relative;
  .firstImg {
    position: absolute;
    top: 0;
    padding: 12px 15px;
  }
  .twoImg {
    position: absolute;
    top: 87px;
    //padding: 12px 15px;
  }
  .threeImg {
    position: absolute;
    top: 174px;
    padding: 12px 15px;
  }
  .fourImg {
    position: absolute;
    top: 0;
    left: 80px;
    padding: 12px 15px;
  }
  .fiveImg {
    position: absolute;
    top: 87px;
    left: 80px;
    padding: 12px 15px;
  }
}
.bxslider li img {
  margin-left: 212px;
}
.bx-pager img {
  border: 1px solid #e9eaeb;
}
.bx-pager img:hover {
  border: 1px solid #ffdc2c;
}
.bx-wrapper {
  border: none!important;
  box-shadow: none!important;
}

.info__3dview {
  padding: 30px;
  background: #f2f2f2;
  span {
    display: block;
    font-size: 40px;
    font-family: 'ProximaNovaBold';
    color: #999999;
    margin-bottom: 30px;
  }
  button {
    font-family: 'ProximaNovaBold';
    font-size: 18px;
    color: @standartTextColor;
    padding: 18px 40px;
    border: 1px solid #fb2539;
    background-color: transparent;
    font-weight: bold;
    margin-bottom: 30px;
  }
  button:focus {
    outline: none;
  }
  .info__3dviewText {
    margin-bottom: 42px;
    font-family: 'ProximaNovaRegular';
    font-size: 12px;
    max-width: 290px;
    color: #777777;
  }
  .bottomInfo__3dview {
    display: flex;
    align-items: center;
    .share {
      margin-right: 34px;
      display: flex;
      align-items: center;
      .icon__share {
        font-size: 20px;
        color: @standartTextColor;
        margin-right: 11px;
      }
      .text__share {
        font-size: 12px;
        font-family: 'ProximaNovaRegular';
        color: @standartTextColor;
      }
    }
    .compare {
      display: flex;
      align-items: center;
      .text__compare {
        font-size: 12px;
        font-family: 'ProximaNovaRegular';
        margin-left: 14px;
        color: @standartTextColor;
      }
    }
  }
}
.product__choice3dview {
  position: relative;
  .article__similar {
    font-family: 'ProximaNovaBold';
    font-size: 22px;
    color: @standartTextColor;
    position: absolute;
    top: -16px;
    left: 25%;
    background: #ffffff;
  }
  .instockSidebar {
    color: #57ae85;
    margin-bottom: 0!important;
  }
  .showSimilarProduct {
    color: #fc5161;
    position: absolute;
    bottom: -9px;
    left: 25%;
  }
}
.ratingInfo__3dviews {
  position: absolute;
  top: -30px;
  width: 100%;
  ul {
    display: flex;
    li {
      margin-right: 30px;
    }
    .icon__rating3dView {
      color: #ffdc2c;
    }
  }
  span {
    font-family: 'ProximaNovaRegular';
    font-size: 13px;
  }
}


