main {
  padding: 20px 0 80px;
}

.bread-crumbs {
  &__Link {
    li {
      display: inline-block;
      a {
        font-family: 'ProximaNovaRegular';
        font-size: 13px;
        color: @breadCrumsColor;
        padding: 20px 0;
        span {
          padding: 0 15px;
        }
      }
    }
  }
}
